.works_on_smartphone{
    background: linear-gradient(#ffff 60%,#5bc6f8);
    background-repeat: no-repeat;
}
header{
    background-color: #a1e1ff;
    max-width: 100%;

}
header > .log>img{
    width: 55px;
    height: 50px;
    background-color: #ffff;
    border-radius: 50px;
    margin-left: 5%;
}
li>a:hover{
color: #ffff;
font-size: larger;
}

body, main{
    display: flex;

}
article > p >a{
    color: rgb(230, 230, 230);
    font-weight: bolder;
    text-decoration: none;
}
article>p>a:hover{
    font-size: larger;
    color: #000000;
    text-decoration: underline;

}
table{
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    display: block;
}
ul,li,a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;


}
main{
    flex-direction: row;
    flex: auto;
}
article{
    flex: 2;
}
aside{
    flex:1;
}
article, aside{
    overflow-y: auto;
}
td,th{
    border: 2px solid;
    padding: 1.5em;
}
th{
    font-size: large;
    font-weight: bolder;
    background-color: #a1e1ff;
}
tr:nth-child(even) {
    background-color:#a1e1ff;
}
tr:nth-child(odd) {
    background-color:rgb(255, 255, 255);
}
footer{
    background-color: #a1e1ff;
    justify-content: center;
    align-items: center;
    display: flex;
}